<%- include("../partials/header")%>

<div class="flex-wrap">
    <div class=" container-fluid home">
        <div class="col">
            <img src="home.illustration.svg">
        </div>
        <div class="col" id="text" style="color: white;">
            <p>Sometimes, what matters is to pack your bags and get on a car and travel NON-STOP.</p>
            <h4> Explore! The World is Not Enough</h4>
        </div>
    </div>


    <div class="strip">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-sm  ">
                <a class="visited" href="/visited">My Visited Places</a>

            </label>
            <label class="btn btn-sm active">
                <a class="bucketlist" href="/bucketlist">My Bucket-List</a>
            </label>
        </div>
    </div>


    <div class="container">

        <h1>My Bucketlist <a class="addnew btn btn-dark btn-sm" href="/bucketlist/new">add new</a></h1>
        <div class="row text-center" style="display: flex">
            <%bucketlist.forEach(function(bucketlist){%>
            <div class="col-md-3 col-sm-6">
                <a href="/bucketlist/<%=bucketlist._id%>/edit">
                    <div class="card">
                        <img class="card-img-top" src="<%= bucketlist.photourl %>">
                        <div class="card-body" <a href=" /bucketlist/<%=bucketlist._id%>></a>>
                        <h4 class=" card-text "> <%= bucketlist.city %> </h4>
                    </div>             
                </div>
            </a>  
        </div>
        <% }) %>
    </div>

</div>

    <%- include("../partials/footer")%>